* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 1920px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}


/* Estilos generales para el encabezado */
header {
    width: 100%;
    height: 5%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    height: 90%;
    background-size: cover;
}

footer {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tituloheader {
    text-decoration-line: none;
    color: rgb(80, 80, 195);
    display: flex;
    text-align: center;
}



/* Estilos para la barra de navegación */
header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.box {
    justify-content: space-between;
    width: 50;
}

header nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #030303;
}

/*css index*/

.product-1 {
    width: 100%;
    height: 50%;
    background-image: url(../assets/fonts/fredrick-tendong-6ou8gWpS9ns-unsplash.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    width: 60%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    border-radius: 30px 30px 30px;
    background-color: black;
    width: 30px;
    padding: 5px;
}

.saleimg {
    width: 100%;
    height: 50%;
    background-image: url(../assets/fonts/sale.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.containerh2 {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2oferta {
    color: red;
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.769);
}

.containerimg {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productimg1 {
    background-image: url(../assets/fonts/monitor.jpg);
}

.productimg2 {
    background-image: url(../assets/fonts/teclado.jpg);


}

.productimg3 {
    background-image: url(../assets/fonts/pc.jpg);

}

.backgroundimg {
    width: 30%;
    height: 40%;
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

svg {
    width: 20px;
    height: 20px;
}

/*css notebooks*/

.fondonotebooks {
    color: #ffffff;
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/fonts/FONDO-NOTEBOOKS.jpg);
}

.bodypages {
    width: 100%;
    height: 1920px;
}

.ulpages {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #030303c8;
}

.notebooksbase {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 60px;
    padding: 60px;
    justify-content: center;
    color: rgb(221, 14, 14);
}

.notebook1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc.jpg);
}

.notebook2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc2.jpg);
}

.notebook3 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc3.jpg);
}

.notebook4 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc4.jpg);
}

.notebook5 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc5.jpg);
}

.notebook6 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc6.jpg);
}

/*css monitores*/

.fondomonitor {
    color: #ffffff;
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/fonts/fondomonitor2.jpg);
}

.monitorbase {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, 600px);
    grid-gap: 80px;
    padding: 60px;
    justify-content: center;
    color: rgb(221, 14, 14);
    }

.monitor1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/monitor.jpg);
}

.monitor2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/monitor2.jpg);
}

.monitor3 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/monitor3.jpg);
}

.monitor4 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/monitor4.jpg);
}

/*css perifericos*/

.fondoperifericos {
    color: #ffffff;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/fonts/fondoperiferico.jpg);
}

.perifericosbase {
    color: rgb(221, 14, 14);
    display: grid;
    grid-template-columns:repeat(3, 500px);
    grid-template-rows:400px;
    justify-items: center;
    padding: 60px;
    grid-gap: 100PX;
}

.perifericosbase2 {
    color: rgb(221, 14, 14);
    display: grid;
    grid-template-columns:repeat(2, 500px);
    grid-template-rows:400px;
    justify-content: center;
    padding: 60px;
    grid-gap: 100PX;
}


.periferico1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/auricular.jpg);
}

.periferico2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/teclado.jpg);
}

.periferico3 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/teclado2.jpg);
}

.periferico4 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/mouse.jpg);
}

.periferico5 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/mouse2.jpg);
}

/*css punto de venta*/

.fondopunto {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: url(../assets/fonts/joistick.jpg);
}

.contenedorpunto {
    width: 80%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 243, 0.253);
}

.ulpuntodeventas{
padding: 10px;
}

.imgpunto {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    background-repeat: none;
    background-size: cover;
    background-image: url(../assets/fonts/geojango-maps-Z8UgB80_46w-unsplash\ \(1\).jpg);
}

.lifond{
    background-color: rgb(175, 174, 174);
}

@media screen and (max-width:768px) {
    /*media perifericos*/
    .perifericosbase{
        display: grid;
        justify-content: center ;
        grid-template-columns: repeat(2, 15.625rem);
        grid-template-rows: 15.625rem 15.625rem;
    }
    .perifericosbase2{
        grid-template-columns: repeat(2, 15.625rem);
        grid-template-rows: 15.625rem;
    }
    .fondoperifericos{
        background-size: cover;
    }
    /*media notebooks*/
    .notebooksbase{
        display: grid;
        background-size: cover;
        justify-content: center ;
        grid-template-columns: repeat(2, 15.625rem);
        grid-template-rows: 15.625rem 15.625rem 15.625rem;
        padding: 60px;
        grid-gap: 2.5rem;
        background-size: cover;
        background-repeat: none;
    }
}

@media screen and (max-width:320px) {
    /*media perifericos*/
    .perifericosbase{
        display: grid;
        justify-content: center ;
        grid-template-columns: 12.5rem;
        grid-template-rows: 12.5rem 12.5rem 12.5rem;
    }
    .perifericosbase2{
        align-items: center;
        grid-template-columns:12.5rem;
        grid-template-rows: 12.5rem 12.5rem;
    }
    .fondoperifericos{
        background-size: cover;
    }
    h1{
        font-size: 11px;
    }
    .box{
        font-size: 7px;
        gap: .125rem;
    }
    header{
        height: 50px;
    }
    .ulpages{
        font-size: 7px;
    }

    .psesion{
        font-size: 0;
    }

    .psesion img{
        width: 100%;
        height: auto;
    }

    .notebooksbase{
        grid-template-columns: 12.5rem;
        grid-template-rows: repeat(6, 12.5rem);
    }
}
