header {
    @include header
}

.tituloheader {
    text-decoration-line: none;
    color: rgb(80, 80, 195);
    display: flex;
    text-align: center;
}

.header-nav {
    width: 65%;
}


header nav ul {
    list-style: none;
    display: flex;
}

.box {
    justify-content: space-between;
    gap: 5%;

}

nav ul li a {
    text-decoration: none;
    color: #030303;
}

.psesion{
    color: #030303;
}
