.fondonotebooks {
    color: #ffffff;
    width: 100%;
    height: 100%;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/fonts/FONDO-NOTEBOOKS.jpg);
}

.bodypages {
    width: 100%;
    height: 1920px;
}

.ulpages {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #030303c8;
}

.notebooksbase {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 60px;
    padding: 60px;
    justify-content: center;
    color: rgb(221, 14, 14);
}

.notebook1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc.jpg);
    background-position:center;
}

.notebook2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc2.jpg);
    background-position:center;
}

.notebook3 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc3.jpg);
    background-position:center;
}

.notebook4 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc4.jpg);
    background-position:center;
}

.notebook5 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc5.jpg);
    background-position:center;
}

.notebook6 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/pc6.jpg);
    background-position:center;
}