.fondoperifericos {
    color: #ffffff;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/fonts/fondoperiferico.jpg);
}

.ulpages {
    width: 100%;
}

.perifericosbase {
    color: rgb(221, 14, 14);
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: 400px;
    padding: 2%;
    grid-gap: 2%;
}

.perifericosbase2 {
    color: rgb(221, 14, 14);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 400px;
    justify-content: center;
    padding: 2%;
    grid-gap: 2%;
}


.periferico1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/auricular.jpg);
    background-position: center;
}

.periferico2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/teclado.jpg);
    background-position: center;
}

.periferico3 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/teclado2.jpg);
    background-position: center;

}

.periferico4 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/mouse.jpg);
    background-position: center;

}

.periferico5 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/fonts/mouse2.jpg);
    background-position: center;

}